[submodule "btree"]
	path = btree
	url = git@github.com:mabasset/ft_btree.git
	branch = main
[submodule "list"]
	path = list
	url = git@github.com:mabasset/ft_list.git
	branch = main
[submodule "printf"]
	path = printf
	url = git@github.com:mabasset/ft_printf.git
	branch = main
[submodule "libft"]
	path = libft
	url = git@github.com:mabasset/libft.git
	branch = main
[submodule "map"]
	path = map
	url = https://github.com/mabasset/ft_map.git
	branch = main
